


body {
    font-family: 'Roboto';font-size: 22px;
    background-color: #dddddd;
    text-align: center;
}

h1 {
    padding: 2em;

}

#name {
    clear: both;
    display: flex;
    justify-content: center;
    background-color: #5E7599;
    border-radius: 15px;

}

ul {
    list-style-type: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

.navlink {
    float: left;
    padding: 14px 16px;
}

.navlink:hover {
    background-color: #000000;
    color: white;
}

.things {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subthings {
    width: auto;
}
